#contact{
    width: 100vw;
    height: 100vh;
    background-image: url(/img/inicio-sesion/luces-policia2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

    #container-log-in{
        background-color: rgba(119, 136, 153, 0.8);;
        border-radius: 10px;
        padding: 1rem;
        width: 50%;
    }

    #titulo{
        color: white !important;
    }

    #subtitulo{
        color: white !important;
    }